<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorHistory</key>
	<dict>
		<key>Color0</key>
		<dict>
			<key>colorB</key>
			<real>0.18999999761581421</real>
			<key>colorG</key>
			<real>0.18999999761581421</real>
			<key>colorR</key>
			<real>0.18999999761581421</real>
		</dict>
		<key>Color1</key>
		<dict>
			<key>colorB</key>
			<real>0.27000001072883606</real>
			<key>colorG</key>
			<real>0.27000001072883606</real>
			<key>colorR</key>
			<real>0.27000001072883606</real>
		</dict>
		<key>Color2</key>
		<dict>
			<key>colorB</key>
			<real>0.0</real>
			<key>colorG</key>
			<real>0.13194313645362854</real>
			<key>colorR</key>
			<real>0.57999998331069946</real>
		</dict>
		<key>Color3</key>
		<dict>
			<key>colorB</key>
			<real>0.0</real>
			<key>colorG</key>
			<real>0.10464455187320709</real>
			<key>colorR</key>
			<real>0.46000000834465027</real>
		</dict>
		<key>Color4</key>
		<dict>
			<key>colorB</key>
			<real>0.4699999988079071</real>
			<key>colorG</key>
			<real>0.4699999988079071</real>
			<key>colorR</key>
			<real>0.4699999988079071</real>
		</dict>
		<key>Color5</key>
		<dict>
			<key>colorB</key>
			<real>0.0</real>
			<key>colorG</key>
			<real>0.75686275959014893</real>
			<key>colorR</key>
			<real>1</real>
		</dict>
		<key>Color6</key>
		<dict>
			<key>colorB</key>
			<real>0.058823529630899429</real>
			<key>colorG</key>
			<real>0.10980392247438431</real>
			<key>colorR</key>
			<real>0.23921568691730499</real>
		</dict>
		<key>Color7</key>
		<dict>
			<key>colorB</key>
			<real>0.050980392843484879</real>
			<key>colorG</key>
			<real>0.070588238537311554</real>
			<key>colorR</key>
			<real>0.14901961386203766</real>
		</dict>
		<key>Color8</key>
		<dict>
			<key>colorB</key>
			<real>0.19607843458652496</real>
			<key>colorG</key>
			<real>0.25098040699958801</real>
			<key>colorR</key>
			<real>0.34117648005485535</real>
		</dict>
		<key>Color9</key>
		<dict>
			<key>colorB</key>
			<real>0.0</real>
			<key>colorG</key>
			<real>0.0</real>
			<key>colorR</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>colorMode</key>
	<integer>1</integer>
	<key>columns</key>
	<integer>5</integer>
	<key>frameHeight</key>
	<integer>32</integer>
	<key>frameSpacing</key>
	<integer>0</integer>
	<key>frameWidth</key>
	<integer>32</integer>
	<key>layers</key>
	<dict>
		<key>image</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>filename</key>
			<string>image</string>
			<key>index</key>
			<integer>0</integer>
			<key>name</key>
			<string>Layer 1</string>
			<key>visible</key>
			<true/>
		</dict>
	</dict>
	<key>localPalette</key>
	<false/>
	<key>name</key>
	<string>miner</string>
	<key>notes</key>
	<string></string>
	<key>openGL</key>
	<false/>
	<key>rows</key>
	<integer>5</integer>
	<key>sheetHeight</key>
	<integer>160</integer>
	<key>sheetWidth</key>
	<integer>160</integer>
	<key>showGrid</key>
	<true/>
	<key>version</key>
	<real>2.0999999046325684</real>
</dict>
</plist>
